{% extends "base.html" %}

{% block title %}Visualização de Custos{% endblock %}

{% block content %}
<div class="container">
    <h2>Custos Cadastrados</h2>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Nome</th>
                <th>Número/Código</th>
                <th>Observação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for custo in custos %}
            <tr>
                <td>{{ custo.id }}</td>
                <td>{{ custo.tipo }}</td>
                <td>{{ custo.nome }}</td>
                <td>{{ custo.numero }}</td>
                <td>{{ custo.observacao }}</td>
                <td>
                    <a href="{{ url_for('auth.modificar_custo', id=custo.id) }}" style="margin-top: 0;">Modificar</a>
                    &nbsp;|&nbsp;
                    <a href="{{ url_for('auth.deletar_custo', id=custo.id) }}" style="margin-top: 0;" onclick="return confirm('Tem certeza que deseja deletar este custo?');">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}